In [ ]:

print("Hello World")

Hello World

In [8]:
s = 'Data Science Academy'

In [3]:
s[0]

'D'

In [4]:
s[1]

'a'

In [5]:
s[0:4]

'Data'

In [9]:
s[0:]

'Data Science Academy'

In [10]:
s[:4]

'Data'

In [11]:
s[:-1]

'Data Science Academ'

In [12]:
s[::-1]

'ymedacA ecneicS ataD'

In [13]:
print('Testando Strings em Python')

Testando Strings em Python

In [14]:
print('Testando \n Strings \n em \n Python')

Testando
 Strings
 em
 Python

### Funções Built-in de Strings

In [ ]:
# upper() -> tudo maiusculo
s.upper()

'DATA SCIENCE ACADEMY'

In [ ]:
# lower() -> tudo minusculo
s.lower()

'data science academy'

In [22]:
texto = 'data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho em ciência de dados'

In [ ]:
# split() -> divide a string por espaço em branco (padrão)
texto.split()

['Data',
 'Science',
 'Academy',
 'é',
 'a',
 'melhor',
 'maneira',
 'de',
 'estar',
 'preparado',
 'para',
 'o',
 'mercado',
 'de',
 'trabalho',
 'em',
 'ciência',
 'de',
 'dados']

In [ ]:
# split() -> divide a string por espaço em branco (padrão), mas posso divider por caractere
texto.split('y')

['Data Science Academ',
 ' é a melhor maneira de estar preparado para o mercado de trabalho em ciência de dados']

In [ ]:
# capitalize() -> converte a primeira letra de uma frase para maisculo
texto.capitalize()

'Data science academy é a melhor maneira de estar preparado para o mercado de trabalho em ciência de dados'

In [ ]:
# title() –> Primeira letra maiúscula de cada palavra
texto.title()

'Data Science Academy É A Melhor Maneira De Estar Preparado Para O Mercado De Trabalho Em Ciência De Dados'

In [ ]:
# count() -> conta quantas vezes um caractere aparece na string
texto.count('a')

16

In [ ]:
# isalnum() -> verifica se todos os caracteres da string são números, retorna True or False
texto.isalnum()

False

In [ ]:
# islower() -> verifica se todos os caracteres da string são minusculos, retorna True or False
texto.islower()

False

In [28]:
# isspace() -> verifica se todos os caracteres da string são espaços em branco, retorna True or False
texto.isspace()

False

In [29]:
# endswith() -> verifica se a string termina com determinado caractere, retorna True or False
texto.endswith('o')

False

In [31]:
# strip() -> remove os espaços em branco no incio e fim de um texto
# lstrip() -> remove o espaço em branco no inicio de um texto
# rstrip() -> remove o espaço em branco no final de um texto
t = str(input('informe o nome da escola que você estuda Data Science.: ')).strip()
print(f'O nome da escola é {t}')

O nome da escola é Data Science Academy

In [36]:
# replace() – Substitui partes do texto
t1 = 'Escola de ciência de dados , engenharia de dados'
t1 = t1.replace(",", "e")
print(t1)

Escola de ciência de dados e engenharia de dados

### Comparando Strings

In [37]:
print("Python" == "R")

False

In [48]:
print("python".upper() == "Python".upper())

True

In [49]:
print("python"== "Python")

False

### Estrutura de dados - Listas

In [51]:
# Criando uma lista

lista_1 = ["arroz, frango, tomate, leite"]

In [ ]:
# Verificando o tipo da lista
type(lista_1)

list

In [53]:
print(lista_1)

['arroz, frango, tomate, leite']

In [54]:
lista_2 = ["arroz", "feijão", "tomate", "leite"]
print(lista_2)

['arroz', 'feijão', 'tomate', 'leite']

In [55]:
lista_3 = [23, 100, "Cientista de Dados"]

In [56]:
print(lista_3)

[23, 100, 'Cientista de Dados']

In [57]:
# Atribuindo cada valor da lista a uma variável

item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [58]:
print(item1, item2, item3)

23 100 Cientista de Dados

### Atualizando uma lista

In [59]:
# Atualizando a lista

lista_2[2] = "Chocolate"

In [61]:
lista_2

['arroz', 'feijão', 'Chocolate', 'leite']

### Deletando um item da lista

In [62]:
lista_2

['arroz', 'feijão', 'Chocolate', 'leite']

In [63]:
# Não é possível deletar um item qeu não existe na lista. Vai gerar um erro index out of range

del lista_2[4]

IndexError: list assignment index out of range

In [64]:
# Deletando um item especifico  da lista

del lista_2[3]

In [66]:
# Imprimindo a lista alterada

print(lista_2)

['arroz', 'feijão', 'Chocolate']

### Lista de Listas (Listas Aninhadas)

In [20]:
# Criando uma lista de listas

listas = [[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [2]:
# Imprimindo a lista

print(listas)

[[1, 2, 3], [10, 15, 14], [10.0, 8.7, 2.3]]

In [3]:
a = listas[0]

In [4]:
a

[1, 2, 3]

In [7]:
b = a[0]

In [8]:
b

1

In [9]:
list1 = listas[1]

In [10]:
type(list1)

list

In [ ]:
list1

[10, 15, 14]

In [12]:
valor_1_0 = list1[0]

In [13]:
valor_1_0

10

In [14]:
valor_1_2 = list1[2]

In [15]:
valor_1_2

14

In [23]:
list2 = listas[2]

In [24]:
list2

[10.1, 8.7, 2.3]

In [25]:
valor_2_0 = list2[0]

In [26]:
valor_2_0

10.1

### Operações com Listas

In [27]:
listas = [[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [28]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [29]:
# Atribuindo à variável "a" o primeiro valor da primeira lista

a = listas[0][0]

In [30]:
a

1

In [31]:
b = listas[1][2]

In [32]:
b

14

In [33]:
c = listas[0][2] + 10

In [34]:
c

13

In [ ]:
d = 10

In [36]:
d

10

In [37]:
e = d * listas[2][0]

In [38]:
e

101.0

### Concatenando Listas

In [39]:
lista_s1 = [34, 32, 56]

In [40]:
lista_s1

[34, 32, 56]

In [41]:
lista_s2 = [21, 90, 51]

In [42]:
lista_s2

[21, 90, 51]

In [ ]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [44]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [45]:
# Criando uma lista

lista_teste_op = [100, 2, -5, 3.4]

In [46]:
# Verificando se o valor 10 pertence a lista

print(10 in lista_teste_op)

False

In [47]:
# Verificando se o valor 10 pertence a lista

print(100 in lista_teste_op)

True

### Funcões Built-in

In [48]:
# Criando uma lista

lista_numeros = [10, 20, 50, -3.4]

In [49]:
# Função len() retorna o comprimento da lista

len(lista_numeros)

4

In [50]:
# Função max() retorna o maior valor contido na lista
max(lista_numeros)

50

In [51]:
# Função min() retorna o menor valor contido na lista

min(lista_numeros)

-3.4

In [52]:
# Criando uma lista

lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [53]:
# Adicionando um item na lista

lista_formacoes_dsa.append("Engenheiro de IA")

In [54]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [55]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [56]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [57]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [58]:
# Criando uma lista vazia

a = []

In [59]:
print(a)

[]

In [60]:
type(a)

list

In [61]:
a.append(10)

In [62]:
a

[10]

In [63]:
old_list = [1, 2, 5, 10]

In [65]:
new_list = []

In [66]:
# Copiando os itens de uma lista para outra

for item in old_list:
    new_list.append(item)

In [67]:
new_list

[1, 2, 5, 10]

In [71]:
cidades = ["Recife", "Manaus", "Salvador"]

In [ ]:
# Função extend() para acrecentar itens de uma lista dentro de outra lista, formando uma lista unica
cidades.extend(["Fortaleza", "Palmas"])

In [73]:
print(cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [74]:
cidades.index("Salvador")

2

In [75]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [78]:
cidades.index("São Paulo")

ValueError: 'São Paulo' is not in list

In [ ]:
# Funcão insert() insere um item na lista no index que você desejar
cidades.insert(2, "Rio de Janeiro")

In [77]:
cidades

['Recife', 'Manaus', 'Rio de Janeiro', 'Salvador', 'Fortaleza', 'Palmas']

In [79]:
# Função remove() remove um item da lista

cidades.remove("Rio de Janeiro")

In [80]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [81]:
# Função reverse() reverte a posição dos items da lista 

cidades.reverse()

In [82]:
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [83]:
x = [3, 4, 2, 1]

In [84]:
x

[3, 4, 2, 1]

In [85]:
# Função sorte() ordena os items da lista

x.sort()

In [86]:
x

[1, 2, 3, 4]

### Trabalhando com Dicionários

In [1]:
estudantes_lst = ['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [2]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [3]:
type(estudantes_lst)

list

In [14]:
# Isso é um dicionário

estudantes_dict = {'Pedro':24, 'Ana':22, 'Ronaldo':26, 'Janaina':25}

In [6]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [7]:
type(estudantes_dict)

dict

In [8]:
estudantes_dict['Pedro']

24

In [15]:
# Adicionando uma nova chave e valor ao dicionário

estudantes_dict['Marcelo'] = 23

In [16]:
estudantes_dict['Marcelo']

23

In [17]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [18]:
# Funcão clear() apagando todas as chaves e valores do dicionário

estudantes_dict.clear()

In [19]:
estudantes_dict

{}

In [20]:
# Palavra reservado del, para deletar o dicionário

del estudantes_dict

In [21]:
estudantes = {'Pedro':24, 'Ana':22, 'Ronaldo':26, 'Janaina':25}

In [22]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [23]:
len(estudantes)

4

In [ ]:
# Função key(), mostra apenas as chaves do dicinário

estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [25]:
# Função values(), mostra apenas os valores das chaves do dicionário

estudantes.values()

dict_values([24, 22, 26, 25])

In [26]:
# Função item(), retorna todos os elementos do dicionário {chave/valor}

estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [ ]:
estudantes2 = {'Camila':27, 'Adriana':28, 'Roberta':26}

In [28]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [29]:
# Função update(), atualiza o dicinário, no exemplo abaixo, atualiza passando outro diciónário

estudantes.update(estudantes2)

In [30]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [45]:
dict1 = {}

In [46]:
dict1

{}

In [47]:
dict1['chave_um'] = 2

In [48]:
print(dict1)

{'chave_um': 2}

In [49]:
dict1[10] = 5

In [50]:
dict1

{'chave_um': 2, 10: 5}

In [51]:
dict1[9.13] = 'Python'

In [52]:
dict1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [53]:
dict1['teste'] = 5

In [54]:
dict1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [55]:
dict1['teste'] = 10

In [56]:
dict1['key'] = 'teste'

In [57]:
# ATENÇÃO, pois a chave e valor podem ser iguais, mas representam cois diferentes.

dict1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 10, 'key': 'teste'}

In [58]:
dict2 = {}

In [59]:
dict2['key1'] = 'Data Science'

In [63]:
dict2['key2'] = 10

In [64]:
dict2['key3'] = 100

In [65]:
dict2

{'key1': 'Data Science', 'key3': 100, 'key2': 10}

In [66]:
a = dict2['key1']

In [67]:
b = dict2["key2"]

In [68]:
c = dict2['key3']

In [69]:
a, b, c

('Data Science', 10, 100)

In [7]:
# Dicionário de Listas

dict3 = {'chave1':1230, 'chave2':[22, 453, 73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [8]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [9]:
dict3['chave2']

[22, 453, 73.4]

In [10]:
# Acessando um item da lista, dentro do dicionário

dict3['chave3'][0].upper()

'PICANHA'

In [11]:
# Operações com itens da lista, dentro do dicionário

var1 = dict3['chave2'][0] -2

In [12]:
var1

20

In [14]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista, ele subtrair 2 e atribuir 2

dict3['chave2'][0] -= 2

In [15]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

### Dicionários Aninhados

In [16]:
# Criando dicionários aninhados

dict_aninhado = {'key1': {'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [17]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [18]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Trabalhando com Tuplas

In [19]:
# Criando uma tupla

tupla1 = ('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [20]:
# Imprimindo a tupla

tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [ ]:
# Tuplas NÃO suportam append()

tupla1.append('Chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
# Tuplas NÃO suportam delete de um item especifico

del tupla1['Elefantes']

TypeError: 'tuple' object does not support item deletion

In [23]:
# Tupla pode ter um único elemento

tupla1 = ('chocolate')

In [24]:
tupla1

'chocolate'

In [25]:
tupla1 = ('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [27]:
tupla1[0]

'Geografia'

In [28]:
# Verificando o complimento da tupla

len(tupla1)

5

In [29]:
# Slicing, da mesma forma que se faz com listas

tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [30]:
tupla1.index('Elefantes')

2

In [32]:
# Tuplas NÃO suportam atribuição de item

tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [33]:
# Deletando uma tupla

del tupla1

In [34]:
tupla1

NameError: name 'tupla1' is not defined

In [35]:
# Criando uma tupla

t2 = ('A', 'B', 'C')

In [36]:
t2

('A', 'B', 'C')

In [37]:
# Tuplas NÃO suportam atribuição de item

t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [38]:
# Usando a função list() para converter uma tupla para lista

lista_t2 = list(t2)

In [39]:
lista_t2

['A', 'B', 'C']

In [40]:
lista_t2.append('D')

In [ ]:
# Usando a função tuple() para converter uma lista para tupla

t2 = tuple(lista_t2)

In [42]:
t2

('A', 'B', 'C', 'D')

### Exercícios

In [4]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

lista = []
for i in range(1, 11):
    lista.append(i)

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

lista = [1.5, 3, 'Python', 'Data', 'Science']
print(lista)

[1.5, 3, 'Python', 'Data', 'Science']

In [10]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

nome = 'Marcos'
idade = '45'
sexo = 'M'

print('Nome.: ' + nome + ', idade.: ' + idade + ', sexo.: ' + sexo )

Nome.: Marcos, idade.: 45, sexo.: M

In [17]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla = (1, 2, 2, 3, 4, 4, 4, 5)
print(tupla.count(4))

3

In [19]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

dict1 = {}
print(dict1)

{}

In [20]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

dict2 = {'Nome':'Marcos',
         'Idade': 45,
         'sexo': 'M'}

print(dict2)

{'Nome': 'Marcos', 'Idade': 45, 'sexo': 'M'}

In [21]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

dict2['Nacionalidade'] = 'Brasileira'
print(dict2)

{'Nome': 'Marcos', 'Idade': 45, 'sexo': 'M', 'Nacionalidade': 'Brasileira'}

In [23]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

dict3 = {'Curso':'Python',
         'Ano':2025,
         'Notas':[10, 9.5]}

print(dict3)

{'Curso': 'Python', 'Ano': 2025, 'Notas': [10, 9.5]}

In [25]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.


lista = ['Marcos', (10, 'Teste'), {'Idade':45, 'Sexo':'M'}, 10.8]
print(lista)

['Marcos', (10, 'Teste'), {'Idade': 45, 'Sexo': 'M'}, 10.8]

In [26]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

print(frase[1:19])

ientista de Dados