### Condicionais

In [1]:
# Condicional if

if 5 > 2:
    print('A sentença é verdadeira!')

A sentença é verdadeira!

In [2]:
# Condicional if...else

if 5 < 2:
    print('A sentença é verdadeira!')
else:
    print('A sentença é falsa!')

A sentença é falsa!

In [3]:
# Condicional if ... else com variável

dia = 'terca'
 
if dia == 'segunda':
    print('Fará sol!')
else:
    print('Hoje vai chover')

Hoje vai chover

In [4]:
# Podemos usar o operador elif para validar mais de uma condição

if dia == 'segunda':
    print('Fará sol!')
elif dia == 'terca':
    print('Vai chover!')
else:
    print('Sem previsão do tempo para o dia relacionado')

Vai chover!

### Operadores Relacionais

In [5]:
6 > 3

True

In [6]:
3 > 7

False

In [7]:
4 < 8

True

In [8]:
4 >= 4

True

In [9]:
if 5 == 5:
    print('Testando Python')

Testando Python

In [10]:
if True:
    print('Parece que python funciona!')

Parece que python funciona!

In [12]:
# Atenção com a sintaxe

if 4 > 3
    print('Tudo funciona')

SyntaxError: expected ':' (4037360433.py, line 3)

In [14]:
# Atenção com a sintaxe

if 4 > 3:
print('Tudo funciona')

IndentationError: expected an indented block after 'if' statement on line 3 (2271111588.py, line 4)

### Condicionais Aninhadas

In [ ]:
idade = 18

if idade > 17:
    print('Você pode dirigir')

Você pode dirigir

In [2]:
nome = 'Bob'

if idade > 13:
    if nome == 'Bob':
        print('Ok Bob, você está autorizado a entrar!')
    else:
        print('Desculpe, mas você não pode entrar!')

Ok Bob, você está autorizado a entrar!

In [6]:
idade = 13
nome = 'Bob'

if idade >= 13 and nome.upper() == 'BOB':
    print("Ok bob, você está autorizado a entrar!")

Ok bob, você está autorizado a entrar!

In [7]:
idade = 12
nome = 'Bob'

if (idade >= 13) or (nome.lower() == 'bob'):
    print('OK Bob, você está autorizado a entrar!')

OK Bob, você está autorizado a entrar!

### Operadores Lógicos

In [8]:
idade = 18
nome = 'Bob'

if (idade > 17):
    print('Você pode dirigir!')

Você pode dirigir!

In [9]:
idade = 18

if (idade > 17) and (nome == 'Bob'):
    print('Automatizado!')

Automatizado!

<b>Os operadores lógicos funcionam assim:</b>

Operador <b>"and"</b> -> Retorna True se ambas as declarações forem verdadeiras.

Operador <b>"or"</b> ->  Retorna True se uma das declarações for verdadeira.

Operador <b>"not"</b> -> Inverte o resultado, retorna False se o resultdo for Tue

In [10]:
# Operador and

numero = 4

if (numero > 2) and (numero % 2 == 0):
    print('Isso está sendo impresso porque as duas condições são verdadeiras!')

Isso está sendo impresso porque as duas condições são verdadeiras!

In [12]:
# Operador and

numero = 4

if (numero > 5) and (numero % 2 == 0):
    print('Isso está sendo impresso porque as duas condições são verdadeiras!')
else:
    print('Isso está sendo impresso porque uma das duas codições é falsa')

Isso está sendo impresso porque uma das duas codições é falsa

In [13]:
# Operador or

numero = 4

if (numero > 5) or (numero % 2 == 0):
    print('Isso está sendo impresso porque uma das duas condições é verdadeira!')

Isso está sendo impresso porque uma das duas condições é verdadeira!

In [14]:
# Operador not

numero = 4

if not(numero > 5) and (numero % 2 == 0):
    print('Isso está sendo impresso porque as duas condições são verdadeiras"')
else:
    print('Isso está sendo impresso porque uma das duas condições é falsa!')

Isso está sendo impresso porque as duas condições são verdadeiras"

In [15]:
# Operadores and, or e not

numero = 4

if (not(numero > 5) and (numero % 2 == 0)) or (numero == 4):
    print('Isso está sendo impresso porque as duas primeiras condições são verdadeiras ou a terceira é verdadeira')

Isso está sendo impresso porque as duas primeiras condições são verdadeiras ou a terceira é verdadeira

In [16]:
# Exemplo com o uso de variáveis

disciplina = 'Data Science'
nota_final = 70

if (disciplina.lower() == 'data science') and (nota_final >= 70):
    print('Você foi aprovado')
else:
    print('Lamento, acho que você precisa estudar mais!')

Você foi aprovado

In [19]:
# Usando mais de uma condição na cláusula if

disciplina = 'Data Science'
nota_final = 60

if (disciplina.lower() == 'data science') and (nota_final >= 70):
    print('Você foi aprovado!')
else:
    print('Lamento, acho que você precisa estudar mais')

Lamento, acho que você precisa estudar mais

In [25]:
# Usando mais de uma condição na cláusula if

disciplina = str(input('Informe a disciplina.: ')).strip().lower()
nota_final = float(input('Informe a nota final.: '))
semestre = str(input('Informe qual semestre está cursando.:'))

if (disciplina == 'data science') and (nota_final >= 80) and (semestre != 1):
    print(f'Você foi aprovado em {disciplina} com a média de {nota_final}')
else:
    print('Lamento, acho que você precisa estudar mais!')

Você foi aprovado em data science com a média de 90.0

### Loop For

In [1]:
# Criando uma tupla e imprimindo cada um dos valores

tp = (2, 3, 4)

for i in tp:
    print(i)

2
3
4

In [2]:
# Criando uma lista e imprimindo cada um dos valores

lista_de_strings = ['Data', 'Science', 'Academy']

for i in lista_de_strings:
    print(i)

Data
Science
Academy

In [3]:
# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)

for contador in range(0, 5):
    print(contador)

0
1
2
3
4

In [4]:
# Imprimindo os valores pares da lista de numeros

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in lista:
    if (num % 2 == 0):
        print(num)

2
4
6
8
10

In [7]:
# Listando os números no intervalo entre 0 e 101, com incremento em 2

for i in range(0, 101, 2):
    print(i, end='-')

0-2-4-6-8-10-12-14-16-18-20-22-24-26-28-30-32-34-36-38-40-42-44-46-48-50-52-54-56-58-60-62-64-66-68-70-72-74-76-78-80-82-84-86-88-90-92-94-96-98-100-

In [8]:
# String também são sequencias

for caracter in 'Python é uma linguagem de programação divertida':
    print(caracter, end=' ')

P y t h o n   é   u m a   l i n g u a g e m   d e   p r o g r a m a ç ã o   d i v e r t i d a

In [ ]:
# Dicionarios com loop for, imprimindo as chaves

dict = {'nome': 'Marcos', 'idade': 45, 'profissao': 'Ciêntista de Dados'}

for chave in dict:
    print(chave)

nome
idade
profissao

In [14]:
# Percorrer as chaves e acessar os valores

dict = {'nome': 'Marcos', 'idade': 45, 'profissao': 'Ciêntista de Dados'}

for chave in dict:
    print(f'{chave}: {dict[chave]}')

nome: Marcos
idade: 45
profissao: Ciêntista de Dados

In [16]:
#  Usar items() para pegar chave e valor ao mesmo tempo

dict = {'nome': 'Marcos', 'idade': 45, 'profissao': 'Ciêntista de Dados'}

for chave, valor in dict.items():
    print(f'{chave} -> {valor}')

nome -> Marcos
idade -> 45
profissao -> Ciêntista de Dados

In [18]:
# Imprimindo valores sem se importar com as chaves

dict = {'nome': 'Marcos', 'idade': 45, 'profissao': 'Ciêntista de Dados'}

for valor in dict.values():
    print(valor)

Marcos
45
Ciêntista de Dados

In [19]:
# Imprimindo apenas as chaves

dict = {'nome': 'Marcos', 'idade': 45, 'profissao': 'Ciêntista de Dados'}

for chave in dict.keys():
    print(chave)

nome
idade
profissao

### Loop for aninhado

In [21]:
# Loops aninhados

list1 = [0, 1, 2, 3, 4]
list2 = [1, 2, 3]

# loop externo
for elemento_list1 in list1:
    # loop externo
    for elemento_list2 in list2:
        print('\n', elemento_list1 * elemento_list2)
    
    print('-------')

 0

 0

 0
-------

 1

 2

 3
-------

 2

 4

 6
-------

 3

 6

 9
-------

 4

 8

 12
-------

In [ ]:
# O número 47 aparece nas duas listas

lista1 = [10, 16, 24, 39, 47]
lista2 = [32, 89, 47, 76, 12]

# loop externo
for elemento_lista1 in lista1:

    # loop interno
    for elemento_lista2 in lista2:

        # condicional
        if (elemento_lista1 == 47) and (elemento_lista2 == 47):
            print('O número 47 foi encontrado nas duas listas!')

O número 47 foi encontrado nas duas listas!

In [2]:
# Some os números pares da primeira lista com o s números pares da segunda lista

lista1 = [10, 16, 24, 39, 47]
lista2 = [32, 89, 47, 76, 12]
soma = 0

# loop externo
for lista in [lista1, lista2]:

    # loop interno
    for num in lista:
        
        # Condicional
        if (num % 2 == 0):
            soma += num

print(f" A soma dos números pares das duas listas é igual a {soma}")

 A soma dos números pares das duas listas é igual a 170

In [3]:
# Listas podem ser concatendas

lista1 + lista2

[10, 16, 24, 39, 47, 32, 89, 47, 76, 12]

In [4]:
# Some os números pares da primeira lista com os numeros pares da segunda lista

lista1 = [10, 16, 24, 39, 47]
lista2 = [32, 89, 47, 76, 12]
soma = 0

for num in lista1 + lista2:
    if num % 2 == 0:
        soma += num

print(f'Soma dos valores pares: {soma}')

Soma dos valores pares: 170

In [5]:
# Loop em lista de listas (Matrizes) para encontrar o maior número

matriz = [[42, 23, 34], [100, 125, 114], [10.1, 98.7, 12.3]]
maior_numero = 0

# Loop externo
for linha in matriz:

    # loop interno
    for num in linha:

        # condicional
        if num > maior_numero:
            maior_numero = num

print(f'Maior número.: {maior_numero}')

Maior número.: 125

In [2]:
# Listando as chaves de um dicionário

dict = {'k1':'Python', 'k2':'R', 'k3':'Scala'}

for item in dict:
    print(item)

k1
k2
k3

In [3]:
# Imprimindo chave e valor do dicionário. Usando o método items() para retornar os itens de um dicionário

dict = {'k1':'Python', 'k2':'R', 'k3':'Scala'}

for k, v in dict.items():
    print(k, v)

k1 Python
k2 R
k3 Scala

### Loop while

In [2]:
# Usando o loop while para imprimir os valores de 0 a 9
# A condição tem que deixar de ser verdadeira dentro do loop, senão pode travar o navegador ou mesmo o computador

i = 0

while i < 10:
    print(i, end='-')
    i += 1

0-1-2-3-4-5-6-7-8-9-

In [4]:
# Entra no loop somente se a condição for verdadeira

i = 11

while i < 10:
    print(v, end='-')
    i += 1

In [9]:
# Também é possível usar a claúsula else para encerrar o loop while

i = 12

while i < 10:
    print(f'O valor de x nesta iteração é: {i}')
    print('i ainda é menor que 10, somando 1 a i')
    i += 1
else:
    print('Loop concluído!')
print(i)

Loop concluído!
12

### while - pass, break, continue

In [ ]:
# Se encontramos o número 4 interrompemos o loop

valor = 0

while valor < 10:
    if (valor == 4):
        break
    else:
        pass
    print(valor)
    valor += 1

In [12]:
# Desconsideramos a letra "z" ao imprimir os caracteres da frase

for letra in 'Python é zzz incrível':
    if (letra == 'z'):
        continue
    print(letra, end='')

Python é  incrível

### Loop "while" e "for" juntos em tempo de execução

In [19]:
%%time 
# Encontramos números primos entre 2 e 30 usando loop for e while

# variável para armazenar números primos
primos = []

# loop for para percorrer números de 2 a 30
for num in range(2, 31):
    
    # variável de controle
    eh_primo = True

    # loop while para verificar se o número é primo
    i = 2
    while i <= num //  2:
        if (num % i == 0):
            eh_primo = False
            break
        i += 1

    # Adicionando o número primo na lista
    if eh_primo:
        primos.append(num)

# imprimindo a lista de números primos
print(primos)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
CPU times: total: 0 ns
Wall time: 996 μs

In [18]:
%%time 
# Encontramos números primos entre 2 e 30 usando loop for e while

# loop para percorrer números de 2 a 30
for i in range(2, 31):

    # variável de controle
    j = 2

    # contador
    valor = 0

    # loop while para verificar se o númro é primo
    while j < i:
        if (i % j == 0):
            valor = 1
            j += 1
        else:
            j += j

    if valor == 0:
        print(str(i) + ' é número primo')
        valor = 0
    else:
        valor = 0

2 é número primo
3 é número primo
5 é número primo
7 é número primo
9 é número primo
11 é número primo
13 é número primo
15 é número primo
17 é número primo
19 é número primo
21 é número primo
23 é número primo
25 é número primo
27 é número primo
29 é número primo
CPU times: total: 0 ns
Wall time: 2 ms

### Função range()

In [2]:
# Imprimindo números de 1 a 10

for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [4]:
# Imprimindo números pares entre 50 e 101

for i in range(50, 101, 2):
    print(i, end=' - ')

50 - 52 - 54 - 56 - 58 - 60 - 62 - 64 - 66 - 68 - 70 - 72 - 74 - 76 - 78 - 80 - 82 - 84 - 86 - 88 - 90 - 92 - 94 - 96 - 98 - 100 -

In [ ]:
# Imprimindo números pares negativos entre 0 -20

for i in range(0, -20, -2):
    print(i)

0
-2
-4
-6
-8
-10
-12
-14
-16
-18

In [6]:
# Usando o tamanho da lista na função range()

lista = ['Abacaxi', 'Banana', 'Morango', 'Uva']
lista_tamanho = len(lista)

for i in range(0, lista_tamanho):
    print(lista[i])

Abacaxi
Banana
Morango
Uva

In [9]:
lista = ['Abacaxi', 'Banana', 'Morango', 'Uva']

for i in range(0, len(lista)):
    print(lista[i])

Abacaxi
Banana
Morango
Uva

### Métodos

In [10]:
# Criando uma lista

lista_3 = [100, -2, 12, 65, 0]

In [11]:
type(lista_3)

list

In [12]:
# Verificando métodos e atributos

lista_3

[100, -2, 12, 65, 0]

In [13]:
# Usando um método do objeto lista

lista_3.append(100)

In [ ]:
# Imprimindo a lista

print(lista_3)

[100, -2, 12, 65, 0, 100]

In [16]:
# Usando um método do objeto lista

lista_3.count(100)

2

In [17]:
# A funcão help() explica como utilizar cada método de um objeto

help(lista_3.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [18]:
# A função dir() mostra todos os métodos e atributos de um objeto

dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
frase = 'isso é uma string'.upper()

In [21]:
type(frase)

str

In [22]:
# O método de um objeto pode ser chamado dentro de uma função, como print()

print(frase.split())

['ISSO', 'É', 'UMA', 'STRING']

### Funções

In [31]:
print('Hello World'.upper())

HELLO WORLD

In [45]:
def primeira_func():
    print('Hello World')

In [46]:
primeira_func()

Hello World

In [47]:
def primeira_func():
    nome = 'Bob'
    print(f'Hello {nome}')

In [48]:
primeira_func()

Hello Bob

In [51]:
# Definindo uma função com parâmetro

def segunda_func(nome):
    print(f'Hello {nome}')

In [ ]:
segunda_func('Aluno')

Hello Aluno

In [57]:
# Erro porque não passou o parâmetro

segunda_func()

TypeError: segunda_func() missing 1 required positional argument: 'nome'

In [54]:
# Função para imprimir números

def imprime_numeros():
    #loop
    for i in range(0, 6):
        print(f'Números {str(i)}')

In [56]:
imprime_numeros()

Números 0
Números 1
Números 2
Números 3
Números 4
Números 5

In [60]:
# Função para somar números

def add_num(first_num, second_num):
    print('Primeiro número: ' + str(first_num))
    print('Segundo número: ' + str(second_num))
    print(f'Soma: {first_num + second_num}')

In [ ]:
# Chamando a função e passando parâmetros

add_num(4, 7)

Primeiro número: 4
Segundo número: 7
Soma: 11

In [ ]:
# Chamando a função e passando parâmetros

add_num(45, 3)

Primeiro número: 45
Segundo número: 3
Soma: 48

In [67]:
# Funções com número variável de argumentos

def print_var_infor(arg1, *args):
    # imprimindo o valor do primeiro argumento
    print(f'O parâmetro passado em arg1 foi: {arg1}')

    # imprimindo o valor do segundo argumento
    for item in args:
        print(f'O parâmetro passado em args foi: {item}')
    return

In [ ]:
# Chamando a função e passando um parametro, dessa forma vai igonorar o segundo "*args" que é uma tupla
print_var_infor(10)

O parâmetro passado em arg1 foi: 10

In [ ]:
# Chamando a função e passando dois parametros, o primeiro parametro será armazenado em arg1 e o segundo em *args que é uma tupla 
print_var_infor('Chocolate','Morango')

O parâmetro passado em arg1 foi: Chocolate
O parâmetro passado em args foi: Morango

In [ ]:
# Chamando a função e passando três parametros, o primeiro parametro será armazendo em arg1 e o segundo e o terceiro em *args que é uma tupla 
print_var_infor('Data','Science', 'Academy', 'Show')

O parâmetro passado em arg1 foi: Data
O parâmetro passado em args foi: Science
O parâmetro passado em args foi: Academy
O parâmetro passado em args foi: Show

### Escopo de variável - local e global

In [1]:
# Variável global
var_global = 10 # esta é uma variável global

def multiplica_numeros(num1, num2):
    var_global = num1 * num2 # esta é uma variavel local
    print(var_global)

In [2]:
multiplica_numeros(5, 25)

125

In [3]:
print(var_global)

10

In [4]:
# Variável global
var_global = 10 # esta é uma variável global

def multiplica_numeros(num1, num2):
    var_local = num1 * num2 # esta é uma variavel local
    print(var_local)

In [5]:
multiplica_numeros(5, 25)

125

In [ ]:
# Variável local só pode ser usada dentro do escopo da função

print(var_local)

NameError: name 'var_local' is not defined

### Funções Built-in

In [7]:
# Valor absoluto

abs(-56)

56

In [8]:
abs(23)

23

In [9]:
# Valor booleano

bool(0)

False

In [10]:
bool(1)

True

In [11]:
# Retornando um valor inteiro

int(1.3)

1

In [12]:
# Retornando uma string

str(13)

'13'

In [13]:
# Retornando um float

float(5)

5.0

In [14]:
# Erro ao executar por causa da conversão

idade = str(input('Digite a sua idade.: '))

if (idade > 13):
    print('Você pode acessar redes sociais sem supervição!')
else:
    print('Seus pais não deveriam deixar você acessar as redes sociais sem supervisção!')

TypeError: '>' not supported between instances of 'str' and 'int'

In [15]:
# Usando a função int() para converter o valor digitado do tipo string para inteiro

idade = int(input('Digite a sua idade.: '))

if (idade > 13):
    print('Você pode acessar redes sociais sem supervição!')
else:
    print('Seus pais não deveriam deixar você acessar as redes sociais sem supervisção!')

Seus pais não deveriam deixar você acessar as redes sociais sem supervisção!

In [16]:
# Convertendo uma string para inteiro

int('26')

26

In [17]:
# Convertendo uma string para float 

float('123.456')

123.456

In [23]:
float('123.A456')

ValueError: could not convert string to float: '123.A456'

In [18]:
# Convertendo um inteiro para string

str(14)

'14'

In [19]:
# Usando a função len para verificar o tamanho da lista

len([1, 2, 3, 4])

4

In [ ]:
# Convertendo uma lista em array

array = [1, 2, 3]

In [21]:
# Verificando com a função max() qual é o maior valor do array

max(array)

3

In [22]:
# Verificando com a função min() qual é o menor valor do array

min(array)

1

In [24]:
list1 = [16, 23, 44, 75]

In [25]:
sum(list1)

158

### Criando funções usando outras funções

In [1]:
import math

def num_primo(num):
    if (num % 2 == 0) and (num > 2):
        return 'Este número não é primo'
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if (num % i == 0):
            return 'Este número não é primo'
    return 'Este número é primo'

In [2]:
num_primo(541)

'Este número é primo'

In [3]:
num_primo(2)

'Este número é primo'

In [4]:
caixa_baixa = 'Este texto deveria estar todo em lowercase'

In [5]:
def lower_case(text):
    return text.lower()

In [6]:
lower_case_string = lower_case(caixa_baixa)

In [7]:
lower_case_string

'este texto deveria estar todo em lowercase'

### Fazendo split dos dados

In [ ]:
# Fazendo split dos dados

def split_string_palavras(text):
    return text.split(" ") # quando encontrar o espaço faz a divisão

In [9]:
texto = 'Esta função será bastante útil para separar grandes volumes de dados.'

In [10]:
# Isso divide a string em uma lista de palavras

print(split_string_palavras(texto))

['Esta', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [14]:
# Podemos atribuir o output de uma função para uma variável

token = split_string_palavras(texto)

In [ ]:
token

['Esta',
 'função',
 'será',
 'bastante',
 'útil',
 'para',
 'separar',
 'grandes',
 'volumes',
 'de',
 'dados.']

In [19]:
# Fazendo split dos dados

def split_string_letras(text):
    texto = text.upper()
    for letra in texto:
        print(letra)

In [20]:
split_string_letras(texto)

E
S
T
A

F
U
N
Ç
Ã
O

S
E
R
Á

B
A
S
T
A
N
T
E

Ú
T
I
L

P
A
R
A

S
E
P
A
R
A
R

G
R
A
N
D
E
S

V
O
L
U
M
E
S

D
E

D
A
D
O
S
.

### Expressão Lambda

In [7]:
# Definindo uma função em 3 linhas de código

def potencia(num):
    resultado  = num ** 2
    return resultado

In [8]:
potencia(5)

25

In [9]:
# Definindo uma função em 2 linhas de código

def potencia(num):
    return num ** 2

In [11]:
potencia(5)

25

In [ ]:
# Definindo uma funão em 1 linha de códgio

def potencia(num): return num ** 2

In [14]:
potencia(5)

25

In [15]:
# Definindo  um expressão Lambda (função anônima)

potencia = lambda num: num ** 2

In [16]:
potencia(5)

25

In [17]:
# Lembre: Operadores de comparação retornam boolean: True or False

par = lambda x: x % 2 == 0

In [18]:
par(3)

False

In [19]:
par(4)

True

In [21]:
first = lambda s: s[0]

In [22]:
first('Python')

'P'

In [23]:
reverso = lambda s: s[:: -1]

In [24]:
reverso('Python')

'nohtyP'

In [29]:
addnum = lambda x, y : x + y

In [30]:
addnum(2, 3)

5

### List comprehension / Dictionary comprehension

In [ ]:
# List comprehension que imprime os números até 10

[x for x in range(10)] # Para cada valor de x dentro da lista de elementos, retorne x  /  retorne x para cada valor de x na lista de elementos

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
# List comprehension que imprime os números até 10 e grava em uma lista 

lista_numeros = [x for x in range(10)]

In [34]:
print(lista_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# List comprehension que imprime os números menores que 5 em um intervalo de 1 a 10

lista_numeros = [x for x in range(10) if x < 5]
print(lista_numeros)

[0, 1, 2, 3, 4]

In [1]:
lista_frutas = ['banana', 'abacate', 'melancia', 'cereja', 'manga']

nova_lista = []

In [2]:
# Loop tradicional para buscar as palavras com letra 'm'

for i in lista_frutas:
    if 'm' in i:
        nova_lista.append(i)

print(nova_lista)

['melancia', 'manga']

In [5]:


nova_lista = [x for x in lista_frutas if 'm' in x]
print(nova_lista)

['melancia', 'manga']

In [ ]:
# Dictionary comprehension

# Dicionário de alunos e notas
dict_alunos = {'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

# Criamos um novo dicionário imprimindo os pares de chave:valor
dict_alunos_status = {k:v for (k, v) in dict_alunos.items()}# retornar chave e valor para cada chave e valor retornado dos items do dicionarios 
print(dict_alunos_status)

{'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

In [7]:
# Dictionary comprehension

# Dicionário de alunos e notas
dict_alunos = {'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

# Criamos um novo dicionário com o status: nota maior que 70, aprovado, senão, reprovado
dict_alunos_status = {k: ('Aprovado' if v > 70 else 'Reprovado') for (k, v) in dict_alunos.items()}
print(dict_alunos_status)

{'Bob': 'Reprovado', 'Michel': 'Aprovado', 'Zico': 'Reprovado', 'Ana': 'Aprovado'}